<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    
    <main class="container tables">
        
        <h2 class="mb-3"> Contenido de administrador </h2>
        <hr>

        <div class="d-flex">
            <a href="/admin/category" class="btn btn-primary"> Cargar categoria </a>
            <a href="/admin/subcategory" class="btn btn-primary mx-3"> Cargar subcategoria </a>
        </div>

        <hr>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Subcategoria</th>
                    <th scope="col">#</th>
                  </tr>
                </thead>
                <tbody>
                    <% associate.forEach(element => { %>
                        <tr>
                            <th><%= element.id %></th>
                            <td><%= element.fk_category.name %></td>
                            <td><%= element.fk_subcategory.name %></td>
                            <td>
                                <form action="/admin/associate/remove/<%= element.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="delete"> delete </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        
        
        <form action="/admin/associate" method="POST"> <!-- asociar categorias -->

            <div class="mb-3">
                <label for="category" class="form-label">Categorias</label>
                <select class="form-select" name="categoryId" id="category">
                    <option selected hidden>Asigna una categoria</option>
                    <% categorys.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %> 
                </select>
            </div>

            <div class="mb-3">
                <label for="subcategory" class="form-label">Subcategorias</label>
                <select class="form-select" name="subcategoryId" id="subcategory">
                    <option selected hidden>Asigna una subcategoria</option>
                    <% subcategorys.forEach(subcategory => { %>
                        <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
                    <% }) %> 
                </select>
            </div>
            
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success"> Asociar </button>
            </div>
        </form>
        
    </main>
    
    <%- include('../partials/footer') %>
    
    <%- include('../partials/scripts') %>
    
</body>
</html>